<form [formGroup]="formGroupEmpresa">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome: </label>
      <input type="text" class="form-control" id="nome" placeholder="Zambow" formControlName="nome">
    </div>
    <div class="mb-3">
      <label for="categoria" class="form-label">Categoria: </label>
      <input type="text" class="form-control" id="categoria" placeholder="Alimentos" formControlName="categoria">
    </div>
    <div class="mb-3">
      <label for="cnpj" class="form-label">CNPJ: </label>
      <input type="number" class="form-control" id="cnpj" placeholder="CNPJ" formControlName="cnpj">
    </div>
    <div class="mb-3">
      <label for="porte" class="form-label">Porte: </label>
      <input type="text" class="form-control" id="porte" placeholder="pequeno" formControlName="porte"> 
    </div>
    <div class="mb-3">
      <label for="empregados" class="form-label">Número de empregados: </label>
      <input type="number" class="form-control" id="empregados" placeholder="10" formControlName="empregados"> 
    </div>
    <div class="mb-3 d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="Cadastrar()">Cadastrar</button>
    </div>
  </form>

  <tr *ngFor="let Empresa of empresa">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{Empresa.nome}}</h5>
          <p class="card-text">{{Empresa.categoria}}</p>
          <p class="card-text">{{Empresa.cnpj}}</p>
          <p class="card-text">{{Empresa.porte}}</p>
          <p class="card-text">{{Empresa.empregados}}</p>
          <p class="card-text">{{Empresa.id}}</p>
        </div>
    </div>
</tr>
  